[submodule "Axel/vendor/spdlog"]
	path = Axel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Axel/vendor/GLFW"]
	path = Axel/vendor/GLFW
	url = https://github.com/vargaszabolcs/glfw
